<div class="container">
  <h1>SUPER AWESOME URL SHORTENER(we're so tired)</h1>

  <form action='/urls' method='post'>
    <input type="text" name="long_url">
    <input type="submit" name="Shorten Url!">
  </form>

  <% if @short_urls %>
    <% @short_urls.each do |url| %>
      <p><%= url.long %> --- http://localhost:9393/<%= url.short %> --- count: <%= url.count %></p>
    <% end %>
  <% end %>

</div>
