<div class="container">
  <h1> SIGN IN</h1>

  <form action="/login" method="post">
    Email: <input type="email" name="email"><br><br>
    Password: <input type="password" name="password"><br><br>
    <input type="submit" name="Login">
  </form>
</div>

<div class="container">
  <h1>SIGN UP</h1>

  <form action="/sign_up" method="post">
    Name: <input type="text" name="name"><br><br>
    Email: <input type="email" name="email"><br><br>
    Password: <input type="password" name="password"><br><br>
    <input type="submit" name="Sign Up!">
  </form>
<div>
